{% extends 'base.html.twig' %}

{% block content %}
    <div class="container" id="page-content">
        <div class="row"></div>
        <div class="text-center">
            <div class="box">
                <div class="box-header">
                    <div class="col-md-10">
                        <h3 class="box-title">Liste de tous les produits</h3>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control select2" style="width: 100%;" name="category"
                                id="category">
                            <option value="0"></option>
                            {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th class="text-center">Nom</th>
                            <th class="text-center">Reference</th>
                            <th class="text-center">Categorie</th>
                            <th class="text-center">Prix d'achat</th>
                            <th class="text-center">Prix de vente</th>
                            <th class="text-center">TVA</th>
                            <th class="text-center">Stock</th>
                            <th class="text-center">Delete</th>
                        </tr>
                        {% for product in products %}
                            {% if product|length > 0 %}
                                <tr class="clickable">
                                    <td>{{ product.slug }}</td>
                                    <td>{{ product.reference }}</td>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.buyingPrice }} €</td>
                                    <td>{{ product.sellingPrice }} €</td>
                                    <td>{{ product.vat }} %</td>
                                    <td>{{ product.availableProducts }}</td>
                                    <td><a href="/delete-product/{{ product.id }}"><button class="btn btn-danger">Supprimer</button></a></td>
                                    <input type="hidden" class="idElement" value="{{ product.id }}"/>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    <script src="{{ asset('js/redirect-products.js') }}"></script>
    <script src="{{ asset('js/ajax-category.js') }}"></script>
{% endblock %}